<!-- navbar expands on large screens and it stays always on top, even when scrolling on long pages -->
<!-- need to put the sticky-top class on the container where this navbar is rendered -->
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My UltraStar Song List</a>
  </div>
</nav>