<!-- navbar expands on large screens and it stays always on top, even when scrolling on long pages -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My UltraStar Song List</a>
  </div>
</nav>