<!-- this template displays a list of matches.
usage: > songs-template
-->
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-responsive">
        <table class="table table-hover" id="songs_table">
          <col class="col-large">
          <col class="col-large">
          <col class="col-small">
          <col class="col-small">
          <col class="col-small">
          <thead class="thead-light">
          <tr>
            <th scope="col">Artist</th>
            <th scope="col">Song</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          {{#each songs}}
          <tr>
            <td>{{artist}}</td>
            <td>{{title}}</td>
            <td>
            {{#if hasVideo}}
              <span class="fa fa-video"></span>
            {{/if}}
            </td>
            <td>
            {{#if hasMp3}}
              <span class="fa fa-music"></span>
            {{/if}}
            </td>
            <td>
            {{#if isNew}}
              <span class="fa fa-star"></span>
            {{/if}}
            </td>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- / div row -->
</div>
